
<!--C:\xampp\miapp\templates\usuario\home_externo.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hola </title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        nav ul {
            list-style-type: none;
            padding: 0;
        }
        nav ul li {
            display: inline;
            margin-right: 10px;
        }
        nav ul li a {
            text-decoration: none;
            color: #007bff;
        }
        nav ul li a:hover {
            color: #0056b3;
        }
    </style>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('user.usuario_home_externo') }}">Inicio Externo</a></li>
        </ul>
    </nav>
</body>
</html>